*.gbc
*.obj
*.signature
*.md
*.meta
*.json
*.yml
*.svg
*.png
*.cs
*.asmdef
*.uss
*.uxml
*.asset
*.prefab
*.mat
*.fbx
*.unity
*.lighting
*.terrainlayer
*.dll
*.xml
*.exe
*.config
*.dylib
*.so
*.txt
*.a
*.lib
*.asmref
*.p7m
*.gif
*.buginfo
*.footignore
*.tt
